@media (min-width: 769px) {
    #header .small{display: none}
}
@media (max-width: 768px) {
    #header .big{display: none}
    #header .small{display: block}
}
#header .big{padding:0 30px;height: 60px;line-height: 59px;}
#header .small{padding:0 15px;height: 48px;line-height: 47px;}
#header a{color: #fff;font-size: 16px;}
#header li{margin-right: 60px;float: left}
#header .small .fl li{margin-right: 20px;}
#header .big .fr li{margin-left: 25px;margin-right: 0}
#header .big .fl li a{color: rgba(255,255,255,.5)}
#header .big .fl li.active a{color: #fff}
#header .active{position: relative}
#header .active .sanjiao{width: 0;height: 0;margin: auto;position: absolute;bottom: 0;left: 0;right: 0;border:10px solid;border-color: transparent transparent #fff transparent;}
.userHeadImg{width: 32px;height: 32px;border-radius: 50%;border: 1px solid #fff}
.search{width: 190px;height: 30px;font-size: 14px;border: 0;background-color: #fff;padding: 10px;border-radius: 20px;line-height: 30px;}